<div class="card">

  <div class="card-header">
    Exercice2
  </div>

  <div class="card-body">
    <label class="radio-inline"><input type="radio" name="optradio" checked  (change)="StyleChange1()">Class 1</label>
    <label class="radio-inline"><input type="radio" name="optradio"  (change)="StyleChange2()">Class 2</label>
    <label class="radio-inline"><input type="radio" name="optradio"  (change)="StyleChange3()">Class 3</label>
    <p [ngStyle]="{'color' :colorStyle , 'font-size' : fontSize , 'font-family' : fontPolice}">
      Two exquisite objection delighted deficient yet its contained. Cordial because are account evident its subject but eat. Can properly followed learning prepared you doubtful yet him. Over many our good lady feet ask that. Expenses own moderate day fat trifling stronger sir domestic feelings. Itself at be answer always exeter up do. Though or my plenty uneasy do. Friendship so considered remarkably be to sentiments. Offered mention greater fifteen one promise because nor. Why denoting speaking fat indulged saw dwelling raillery.
    </p>
  </div>
</div>

